@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan+SC&display=swap');


:root {
    --bg: #282828;
    --bc: #E8E8E8;
    --bg-rgb: 40, 40, 40;
    --blog-bg: #424242;
    --blog-card-bg: #232323;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--bc);
}

ul {
    list-style: none;
}

html,
body {
    font-size: 16px;
    font-family: sans-serif;
    background: var(--bg);
    background-image: url("assets/noise.png");
    color: var(--bc);
    font-family: "Roboto", serif;
    font-style: normal;
}

header {
    height: 3rem;
    outline: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background: rgba(var(--bg-rgb), 0.2);
    box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: sticky;
    top: 0;

    &>nav {
        display: flex;
        justify-content: space-around;
        gap: 2rem;

        &>a {
            text-decoration: none;
            color: var(--bc);
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;
            font-size: 0.8rem;
        }
    }

    &>.logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: min-content;
    }
}

main {
    padding: 0 2rem;

}

.blogs-heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 40rem;
    justify-content: center;



    &>h1 {
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.all-blogs {

    &>ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        margin-top: -10rem;
        color: var(--bc);
        margin-top: -10rem;

        &>.blog-card {
            width: 100%;
            background-color: var(--blog-card-bg);
            border: 2px solid var(--blog-bg);
            box-shadow: 2px 4px 1rem #000;

            &>div {
                padding: 0.5rem;
                outline: 1px solid rgba(0, 0, 0, 0.2);
                height: 10rem;
                overflow: hidden;
            }

            & img {
                width: 100%;
                object-fit: cover;
            }

            & h2 {
                font-size: 1.4rem;
                font-weight: 700;
            }

            & p {
                color: rgba(232,232,232, 0.7);

            }

            &>a {
                display: flex;
                align-items: center;
                justify-content: space-around;
                border: 2px solid var(--bc);
                width: 50%;
                height: 3rem;
                margin-left: 0.5rem;
                font-weight: 700;
                border-radius: 0.25rem;
                margin: 1rem 0 1rem 1rem;

                & svg {
                    height: 1.5rem;
                    width: 1.5rem;
                    fill: var(--bc);

                }
            }
        }
    }
}
