.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* Optional: Adjust for your desired padding */
  padding-right: 1rem; /* Optional: Adjust for your desired padding */
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}

.h-20 {
    height:20rem;
}
.w-20 {
    width: 20rem;
}

.h-full {
    height: 100%;
}

.gap-4 {
    gap: 1rem;
}


.dev {
    border:1px solid red;
}
.dev2 {
    border:1px solid blue;
}

.max-w-min {
    max-width: min-content;
}

.btn-primary {
    color:var(--bc);
    border: 1px solid var(--bc);
    padding: 0.5rem 1rem;
    font-weight: 700;
    max-width: max-content;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.6);
}

.btn-hover {
    transition: all 0.3s;
    &:hover {
        transform: translateY(-0.2rem);
    };
}

.gradient-border-button {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    z-index: 1;
    overflow: hidden;
}

.gradient-border-button::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, red, yellow, green, cyan, blue, magenta, red);
    z-index: -1;
    transition: transform 0.4s;
    border-radius: 7px;
    animation: rotate 2s linear infinite;
}

.gradient-border-button:hover::before {
    transform: rotate(360deg);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
